{{#if sidebar.comments}}
  <div class="card">
    <div class="card-header">
      <h5>
        Latest Comments
      </h5>
    </div>
    <div class="card-body">
      <div class="">
        {{#each sidebar.comments}}
          <a
            class="text-reset text-decoration-none"
            href="/images/{{_image.uniqueId}}"
          >
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <img
                  width="64"
                  height="64"
                  src="/public/upload/{{_image.filename}}"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="vstack">
                  <strong>{{name}}</strong>
                  <small class="text-muted">{{timeago timestamp}}</small>
                  <span>{{comment}}</span>
                </div>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}