<div class="container" id="error-message"></div>

<div class="card card-primary">
  <b class="card-header">{{image.title}}</b>
  <div class="card-body">
    <p>{{image.description}}</p>
    <div class="col-md-12 text-center">
      <img src="/public/upload/{{image.filename}}" class="img-thumbnail" />
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="">
        <button
          class="btn btn-success fa fa-thumbs-up"
          id="btn-like"
          data-id="{{image.uniqueId}}"
        ></button>
        <strong class="likes-count">{{image.likes}}
        </strong>
        &nbsp; - &nbsp;
        <i class="fa fa-eye">
        </i>
        <strong>{{image.views}}</strong>
        &nbsp; - &nbsp; Posted:
        <em class="text-muted">{{timeago image.timestamp}}</em>
        <button
          class="btn btn-danger"
          id="btn-delete"
          data-id="{{image.uniqueId}}"
        >
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header">
    <strong>Comments</strong>
  </div>
  <div class="text-right">
    <button
      class="btn btn-default btn-sm"
      id="btn-comment"
      data-id="{{image.uniqueId}}"
    >
      <i class="fa fa-comments-o"> Post Comment...</i></button>
  </div>
  <div class="card-body">
  <blockquote id="post-comment">
      <form method="post" action="/images/{{image.uniqueId}}/comment">
        <div class="form-group col-sm-12">
          <label class=" control-label" for="name">Name:</label>
          <div class="col-sm-12">
            <input class="form-control" type="text" name="name" />
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label class=" control-label" for="email">Email:</label>
          <div class="col-sm-12">
            <input class="form-control" type="text" name="email" />
          </div>
        </div>
        <div class="form-group col-sm-12">
          <label class="control-label" for="comment">Comment:</label>
          <div class="col-sm-12">
            <textarea class="form-control" name="comment" rows="2"></textarea>
          </div>
        </div>
        <div class="form-group col-sm-12">
          <div class="col-sm-12 text-right">
            <button
              type="submit"
              id="comment-btn"
              class="btn btn-success"
              type="button"
            >
              <i class="fa fa-comment"></i>
              Post</button>
          </div>
        </div>
      </form>
  </blockquote>
  <ul class="media-list">
    {{#each comments}}
      <li class="media">
        <a class="pull-left" href="#">
          <img
            class="media-object img-circle"
            src="http://www.gravatar.com/avatar/
{{gravatar}}?d=monsterid&s=45"
          />
        </a>
        <div class="media-body">
          {{comment}}
          <br /><strong class="media-heading">{{name}}</strong>
          <small class="text-muted">{{timeago timestamp}}</small>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
</div>
